name: DE-Pipeline-Production

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # ปุ่มกด Manual ที่เราคุยกัน

jobs:
  # 1. งานตรวจสอบ (CI)
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with: { python-version: '3.9' }
      - name: Install Test Tools
        run: pip install pytest flake8
      - name: Run Tests
        run: pytest tests/  # รันเทสที่เราเขียนไว้

  # 2. งานสร้างและส่ง (CD)
  #build-and-deploy:
  #  needs: quality-check # ต้องผ่าน CI ก่อนเท่านั้น!
  #  runs-on: ubuntu-latest
  #  if: github.ref == 'refs/heads/main' # รันเฉพาะเมื่อเป็นสาขาหลัก
  #  steps:
  #    - name: Login to Docker Hub
  #      uses: docker/login-action@v3
  #      with:
  #        username: ${{ secrets.DOCKER_USER_3 }}
  #        password: ${{ secrets.DOCKER_PASS_3 }}
  #    - name: Build and Push
  #      run: |
  #        docker build -t user/de-project:latest .
  #        docker push user/de-project:latest


   # นี่คือหน้าตาของส่วน CD ที่ DE ใช้กันจริงๆ เพื่อให้ระบบไม่ "ปิด" แต่เป็นการ "สลับตัวใหม่ขึ้นมาแทน"
  #deploy-to-server:
  #  needs: build-and-push # ต้องรอให้ส่งของขึ้น Docker Hub เสร็จก่อน
  #  runs-on: ubuntu-latest
  #  steps:
  #    - name: SSH to Server and Update
  #      uses: appleboy/ssh-action@v1.0.3
  #      with:
  #        host: ${{ secrets.SERVER_HOST }}
  #        username: ${{ secrets.SERVER_USER }}
  #        key: ${{ secrets.SSH_PRIVATE_KEY }}
  #        script: |
  #          cd /home/project/practice-de
  #          docker compose pull             # 1. ดึงของใหม่ (Pull)
  #          docker compose up -d --remove-orphans # 2. อัปเดตตัวใหม่ (Up) โดยไม่ปิดระบบค้างไว้       